*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 2rem;
	overflow-y: auto;
}

body > img,
video,
picture {
	display: block;
	width: 100%;
	height: 50vh;
	margin-bottom: 100vh;
}
